@model Petfinder.Models.Shelter


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    @*<div class="lightbox-img-big-tile">
        <a class="lightbox-img" data-lightbox="example-1" href="@Html.DisplayFor(model => model.PhotoUrl)">
            <img class="lightbox-img" src="@Html.DisplayFor(model => model.PhotoUrl)" />
        </a>
    </div>*@
    <div class="big-tiles-flex">
        <div class="big-tile-description">
            <p class="font-semibold text-2xl text-center lg:text-left"> @Html.DisplayFor(model => model.Name)</p>
            <div class="border-bar"></div>
            <div class="grid grid-cols-1 gap-2 lg:gap-4">
                <div class="shelter-tile-flex">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20S3 10.87 3 7a7 7 0 1 1 14 0c0 3.87-7 13-7 13zm0-11a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" /></svg>
                    <div class="flex flex-col shelter-tile-text">
                        <p>@Html.DisplayFor(model => model.Address)</p>
                    </div>
                </div>
                <div class="ml-6 border-bar"></div>
                <div class="shelter-tile-flex">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 18.35V19a1 1 0 0 1-1 1h-2A17 17 0 0 1 0 3V1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4c0 .56-.31 1.31-.7 1.7L3.16 8.84c1.52 3.6 4.4 6.48 8 8l2.12-2.12c.4-.4 1.15-.71 1.7-.71H19a1 1 0 0 1 .99 1v3.35z" /></svg>
                    <div class="shelter-tile-text">@Html.DisplayFor(model => model.PhoneNumber)</div>
                </div>
                <div class="shelter-tile-flex">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.6 13.47A4.99 4.99 0 0 1 5 10a5 5 0 0 1 8-4V5h2v6.5a1.5 1.5 0 0 0 3 0V10a8 8 0 1 0-4.42 7.16l.9 1.79A10 10 0 1 1 20 10h-.18.17v1.5a3.5 3.5 0 0 1-6.4 1.97zM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" /></svg>
                    <a class="shelter-tile-text" href="mailto: @Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
                </div>
                <div class="border-bar"></div>
                <div class="shelter-tile-flex">
                    <p class="text-xl text-gray-600 px-1">Nip:</p>
                    <p class="text-xl text-gray-600 px-1">@Html.DisplayFor(model => model.Nip)</p>
                </div>
            </div>
        </div>
        <div class="medium-tiles-flex">
            <div class="medium-tile">
                <div class="p-2 mx-auto w-max">
                    <button onclick="location.href='/Shelters/Edit/@Model.ShelterId';" class="btn-green mx-2">Edit</button>
                    <button onclick="location.href='/Shelters/Index/';" class="btn-blue mx-2">Back to List</button>
                </div>
            </div>

            <div class="h-64 bg-red-300 text-center mb-4">
                <p class="text-yellow-600 text-3xl">AD</p>
            </div>
        </div>
    </div>


    @*<div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nip)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nip)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ShelterId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
</body>
</html>
